Ana
1. age: 
    - son object, cambiar a int
2. attrition: 
3. businesstravel: 
    - cambiar nan por none
4. dailyrate: 
    - poner en el nombre de la colum ($) 
    - son tipo float
5. department:
    - poner en minúscula
    - cambiar nan por none
6. distancefromhome:
    - cambiar nombre a distance_home
    - cambiar datos negativos a positivos con lambda??
    - son todos int
7. education: 
    - saber si el 1 es el más alto o es el 5
    - son todos int
8. educationfield: 
    - cambiado a minúsculas
    - cambiar nan por none
9. employeecount:
    - eliminar
10. employeenumber:
    - cambiar nombre a employee_id
    - poner al principio
11. environmentsatisfaction:	
    - cambiar nombre a env_satisfaction
    - son todos int
12. gender: 
    - ya unificado a male/female
    - era int, pero ya cambiado a str
13. hourlyrate:	
    - son todos float
    - redondear a dos decimales
    - cambiar nan por none
14. job_engagement:	
    - son todos int
Maleni
15. joblevel	
16. jobrole	
17. jobsatisfaction	
18. maritalstatus	
19. monthlyincome	
20. monthlyrate	
21. numcompaniesworked	
22. over18	
23. overtime
24. percentsalaryhike	
25. performancerating	
26. relationshipsatisfaction	
27. standardhours	
28. stockoptionlevel
Jazmin
29. totalworkingyears	
30. trainingtimeslastyear	
31. worklifebalance	
32. yearsatcompany	
33. yearsincurrentrole	
34. yearssincelastpromotion	
35. yearswithcurrmanager	
36. sameasmonthlyincome	
37. datebirth	
38. salary	
39. roledepartament	
40. numberchildren	
41. remotework

POR FILAS: las duplicadas (Jazmin)